<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <%
    var title = page.title;
    if (is_archive()) {
        title = '文章归档';
        if (is_month()){
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = '`' + page.category + '`分类下的文章';
    } else if (is_tag()) {
        title = '`' + page.tag + '`标签下的文章';
    }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" >
<% if (config.favicon) { %>
    <link rel="shortcut icon" href="<%- url_for(config.favicon) %>" >
<% } %>
<% if (env.env === 'production') { %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/lhybaobei/smile/css/theme.min.css">
<% } else { %>
    <%- css('css/theme') %>
<% } %>
<% if (is_post()) { %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.css">
<% } %>
</head>